@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite NG Modern", cursive;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
}

#mouseFollow{
    height: 5vw;
    width: 5vw;
    background-color: black;
    border-radius: 50%;
    font-size: 1vw;
    text-align: center;
}

.birthdayimg {
    background-image: url('https://cdn.pixabay.com/photo/2018/02/23/21/29/roses-frame-3176667_960_720.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: red;
    font-size: 35px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* for mobile screen */
@media (min-width:320px) and (max-width:480px) {
    .middle {
        /* background-color: red; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 6vw;
    }
}

/* for tablet screen */
@media (min-width:481px) and (max-width:1024px) {
    .middle {
        /* background-color: red; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 4vw;
    }
}