@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite NG Modern", cursive;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
}

#mouseFollow {
    height: 5vw;
    width: 5vw;
    background-color: black;
    border-radius: 50%;
    font-size: 1vw;
    text-align: center;
}

.birthdayimg {
    background-image: url('https://cdn.pixabay.com/photo/2018/02/23/21/29/roses-frame-3176667_960_720.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: red;
    font-size: 35px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container>p {
    font-size: 4vw;
    font-weight: bold;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
}

/* CSS3 Type Animation */

.container>p {
    animation: type 4s steps(60, end);
    /* Chrome and Safari Optimisation */
    -webkit-animation: type 4s steps(60, end) infinite;
    /* Firefox Optimisation */
    -moz-animation: type 4s steps(60, end) infinite;
    /* Opera Optimisation */
    o-animation: type 4s steps(60, end) infinite;
}

/* Remaining CSS3 Animation */

@keyframes type {
    from {
        width: 0;
    }
}

/* Chrome and Safari Optimisation */
@-webkit-keyframes type {
    from {
        width: 0;
    }
}

/* Firefox Optimisation */
@-moz-keyframes type {
    from {
        width: 0;
    }
}

/* Opera Optimisation */
@-o-keyframes type {
    from {
        width: 0;
    }
}


/* for mobile screen */
@media (min-width:320px) and (max-width:480px) {
    .middle {
        /* background-color: red; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 8vw;
    }

    #countDown{
        font-size: 5vw;
    }
}

/* for tablet screen */
@media (min-width:481px) and (max-width:1024px) {
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 4vw;
    }
}